<header class="main-header">
    <nav class="nav main-nav">
        <ul>
            <li><a asp-controller="Tour" asp-action="Index">HOME</a></li>
            <li><a asp-controller="Store" asp-action="Index">STORE</a></li>
            <li><a asp-controller="About" asp-action="Index">ABOUT</a></li>
        </ul>
    </nav>
    <h1 class="band-name band-name-large">Green Day</h1>
</header>


<section class="content-section container">
        <h2 class="section-header">ABOUT</h2>
        <img class="about-band-image" src="/Images/GreenDay.jpg">
    <p>Green Day, one of the most iconic punk rock bands of all time, has captured the hearts of music lovers around the world with their energetic performances and powerful lyrics. Formed in 1986, the band quickly gained popularity and rose to mainstream success with their breakthrough album, “Dookie,” in 1994. Throughout their career, Green Day has not only achieved commercial success but has also been recognized for their political activism and social commentary in their music. With their distinct sound and rebellious spirit, they have become synonymous with punk rock and have influenced countless bands and artists.</p>
    <p>Green Day was formed in 1986 by childhood friends Billie Joe Armstrong and Mike Dirnt. Growing up in East Bay, California, they shared a common love for punk music and decided to start a band together. Joined by drummer John Kiffmeyer, the trio began performing at local venues under the name “Sweet Children.”</p>
    </section>

    